<header class="header col-md-12">
    <div class="container">
        <div class="logo col-md-6">
            <a href="/about-us.html">Genesis Framework</a>
            <p>Support HTML5 & Responsive Design</p>
        </div>
        <div class="toplinks col-md-6">
            <ul>
                <li><a href="#">Sample</a> </li>
                <li><a href="#">Layout</a> </li>
                <li><a href="#">Template</a> </li>
                <li><a href="#">Contact</a> </li>
            </ul>
        </div>
    </div>
</header>