<nav class="nav col-md-12">
    <div class="container">
        <ul class="menu">
            <li><a href="#">Category #1</a> </li>
            <li><a href="#">Category #2</a> </li>
            <li><a href="#">Category #3</a> </li>
            <li><a href="#">Category #4</a> </li>
        </ul>
        <div class="mernu-right">
            <a href="#">Get Genesis now</a>
        </div>
    </div>
</nav>