.box{
    float: left;
    width: 600px;
    height: 600px;
    margin: 50px;
    border: 1px solid red;
    position: relative;/* static relative absolute fixed */
}
.child{
    float: left;
    width: 100px;
    height: 50px;
    border: 1px solid orange;
    background-color: aquamarine;
    position: fixed;
    bottom: 200px;
    left:400px;

}
p{
    position: relative;
    top: 20px;/* top bottom - left right */
    right:0px;
    margin: 0;
}
.page{
    width: 800px;
    height: 800px;
    float: left;
    margin: 100px;
    border: 1px solid green;
    position: relative;
}
.box-2{
    float: left;
    width: 300px;
    height: 50px;
    border: 1px solid blue;
    /*position: absolute;*/
    /*top:0;*/
    /*right:0;*/
    /*transform: translate(0px,-500px);*/
    transition: all 300ms; /* làm các hiệu ứng css trong thời gian 300ms */
    /*animation-name: loading;*/
    /*animation-duration: 4s;*/
    /*animation-iteration-count: infinite;*/
    /*animation-delay: 2s;*/
}
.box-2:hover{
    /*transform: rotate(90deg);*/
    transform: scale(1.5);

}
.box-3{
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid deeppink;
    border-radius: 100%;
    position: fixed;
    top:200px;
    left:200px;
    background-color: orange;
    animation-name: circle;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    from{
        background-color: red;
        transform: scale(1.5);
    }
    to{
        background-color: green;
        transform: scale(1);
    }
}
@keyframes circle {
    0%{
        top:200px;
        left:200px;
    }
    25%{
        top:200px;
        left:400px;
    }
    50%{
        top:400px;
        left:400px;
    }
    75%{
        top:400px;
        left:200px;
    }
    100%{
        top:200px;
        left:200px;
    }
}